body{
  background:#687A87;
}
.products{
  display:inline-block;
  width:50%;
  h2{
    color: white;
      font-size: 3rem;
      border-bottom: 1px solid white;
      text-align: center;
  }
  li{
    box-shadow: -1px 10px 36px 0px rgba(0,0,0,0.75);
background:#465057;
border: 2px solid white;
padding: 1rem;
margin-bottom: 1rem;
margin-right: 2rem;
border-radius: 20px;
color: #AFC6D7;
  }

}

#shoppingcart{
font-size: 1.5rem;
float: right;
margin-top: 1rem;
margin-right: 1rem;
}
.cart{
  box-shadow: -1px 10px 36px 0px rgba(0,0,0,0.75);
  background:black;
  color:#AFC6D7;
  display: inline-block;
float: right;
margin-left:2rem;
width:32%;
position: fixed;
border: 2px solid black;
border-radius:10px;
padding-top: 1rem;
padding-left: 2rem;
padding-right: 2rem;
margin-top:3rem;
h2{
  text-align: center;
  display:inline-block;
  margin-right:2rem;

}
}

ul{
  list-style:none;
  span{
    margin-right:1rem;
    padding-bottom:1rem;
  }
  input{
    margin-right:1rem;
  }
}
.picture{
  width: 27%;
display: inline-block;
margin-bottom: 1rem;
}
.description{
  display: inline-block;
    float: right;
    width: 66%;
}
.title{
  border-bottom:1px solid white;
}
.cart-pic{
  width: 3rem;
  height: 2rem;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.total{
font-size:2rem;
text-align: center;
display: block;
margin-top: 1rem;
border-top: 2px solid white;
padding-top: 1rem;
padding-bottom: 1rem;
}
.prices{
  border-top: 1px solid white;
padding-top: 1rem;
}
.quantity{
  width:5%;
}
.qty{
  margin-left:11rem;
  margin-right:.5rem;
}
